<%- include partials/header %>

<h1>THIS IS NEW</h1>

<form class="" action="/heroes" method="post">
  <input type="text" name="hero[name]" value="" placeholder="Name">
  <input type="text" name="hero[image]" value="" placeholder="Image URL">
  <input type="text" name="hero[info]" value="" placeholder="Description">
  <input type="submit" name="" value="Submit">
</form>


<%- include partials/footer %>
